@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #aecbcd;
}

/* .verbose{
  background-color: whitesmoke;
} */

li{
  list-style: none;
  padding: 0.2rem;
}
li:last-of-type{
  padding-bottom: 0.6rem;
}

h2{
  text-align: center;
  font-size: 2rem;
  padding:2rem ;
}

.container{
  display: flex;
}

.prefecture{
  background-color: white;
  border-radius: 10px;
  border: 2px solid #484443;
  width: 33%;
  margin: 1rem;
}

.prefecture h3,p{
  padding: 0.5rem;
  padding-left: 2rem;
  
}

.prefecture h3{
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.prefecture:hover{
  box-shadow: 2px 2px#484443;
  cursor: pointer;
}

@media (max-width:768px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .prefecture{
    width: 90%;
    margin: 1rem auto;
  }
}